%h1 Listing vacants

%table
  %thead
    %tr
      %th Company
      %th Position
      %th Professional area
      %th Job type
      %th Wage
      %th Due date
      %th Country
      %th Province
      %th District
      %th Job description
      %th Vacant status
      %th
      %th
      %th

  %tbody
    - @vacants.each do |vacant|
      %tr
        %td= vacant.company
        %td= vacant.position
        %td= vacant.professional_area_id
        %td= vacant.job_type_id
        %td= vacant.wage
        %td= vacant.due_date
        %td= vacant.country_id
        %td= vacant.province_id
        %td= vacant.district_id
        %td= vacant.job_description
        %td= vacant.vacant_status_id
        %td= link_to 'Show', vacant
        %td= link_to 'Edit', edit_vacant_path(vacant)
        %td= link_to 'Destroy', vacant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vacant', new_vacant_path
