
%li.sidebar-avatar
  = image_tag current_candidate.avatar.url(:medium), :class => "avatar-sidebar img-circle"
- if current_candidate.forenames && current_candidate.surnames
  %li.sidebar-brand
    = link_to root_url do
      = current_candidate.forenames
      = current_candidate.surnames
- if controller_name == 'candidates'
  %li.selected
    .sidebar-icon
      = fa_icon "user"
    .sidebar-item
      Mi Perfil
- else
  %li
    = link_to current_candidate do
      .sidebar-icon
        = fa_icon "user"
      .sidebar-item
        Mi Perfil
- if controller_name == 'vacants'
  %li.selected
    .sidebar-icon
      = fa_icon "bullhorn"
    .sidebar-item
      Vacantes
- else
  %li
    = link_to vacants_path do
      .sidebar-icon
        = fa_icon "bullhorn"
      .sidebar-item
        Vacantes
