
%li.sidebar-avatar
  = image_tag current_candidate.avatar.url(:medium), :class => "avatar-sidebar img-circle"
- if current_candidate.forenames && current_candidate.surnames
  %li.sidebar-brand
    = link_to root_url do
      = current_candidate.forenames
      = current_candidate.surnames
- if controller_name == 'candidates'
  %li.selected
    .sidebar-icon
      = fa_icon "user"
    .sidebar-item
      Mi Perfil Personal
- else
  %li
    = link_to edit_candidate_path(current_candidate.id) do
      .sidebar-icon
        = fa_icon "user"
      .sidebar-item
        Datos Personales
