%h3 Candidatos
- @candidates.each do |candidate|
  =  link_to candidate do
    .col-lg-4
      .panel.panel-primary.candidate-box
        .panel-heading
          %h4.panel-title
            = candidate.professional_title
        .panel-body
          .col-xs-5
            = image_tag candidate.avatar.url(:medium), :class => "img-index"
          .col-xs-7.candidate-data
            %p.text-primary
              = fa_icon 'birthday-cake'
              = candidate.birthdate.strftime("%d/%m/%y")
              \(
              = candidate.age
              \)
            %p.text-primary
              = fa_icon 'envelope'
              = candidate.email.downcase
            %p.text-primary
              = fa_icon 'graduation-cap'
              = EducationLevel.find(candidate.max_education).name
            %p.text-primary
              = fa_icon 'pencil'
              = candidate.updated_at.strftime("%d/%m/%Y %I:%M %P")
            %p.text-primary
              = fa_icon 'money'
              = number_to_currency(candidate.wage_aspiration)
        .panel-footer
          %h4
            = candidate.forenames
            = candidate.surnames
