!!!
%html
  %head
    %title JobHunt
    = stylesheet_link_tag "application", params[:controller], :media => "screen", 'data-turbolinks-track' => true
    = javascript_include_tag "application", params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{"data-spy" => "scroll", "data-target" => ".navigate-sidebar", "data-offset" => "20" }
    = custom_bootstrap_flash
    - if current_user
      = render 'shared/navbar'
      #wrapper
        = render 'shared/sidebar'
        #page-content-wrapper
          #breadcrumb
            %ul.custom-breadcrumb.col-sm-6
              = render_breadcrumbs :tag => :li, :separator => ""
          .container-fluid#main-container
            = yield
    - else
      = render "shared/welcome"
